﻿@model PieListViewModel



    @foreach (var pie in Model.Pies)
    {
        
    <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="" />
            <div class="caption" >
                <h3 class="pull-right" >@pie.Price.ToString("c")</h3>
                <h3>
                    <a>@pie.Name</a>
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
        
    </div>

    }
